<link rel="stylesheet" href="/static/style.css">
<div class="box">
<h2>Register</h2>
<form method="post">
  <input name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>

  <label style="font-size:13px;color:#0f2a44;">Role</label>
  <select name="role" required>
    <option value="">Select role</option>
    <option value="client">Client</option>
    <option value="admin">Admin</option>
  </select>

  <button type="submit">Create Account</button>
</form>
</div>